@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Helvetica Neue", arial, meiryo, sans-serif;
  box-sizing: border-box;
}

.underLine {
  position: relative;
}
.underLine::after {
  background-color: #A71A1C;
  bottom: -6px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
  width: 100%;
}
/* リンクにホバーした際の下線の表示 */
.underLine:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

/* ヘッダー */
header {
  display: flex;
  position: fixed;
  align-items: center;
  background-color: #FFF;
  z-index: 999;
  width: 100%;
}

.header-main {
  display: flex;
  margin: 0 auto;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-main .logo img {
  display: block;
  width: 150px;
  height: 50px;
  margin-right: 40px;
  object-fit: cover;
  cursor: pointer;
}

.header-main nav ul {
  display: flex;
  list-style: none;
}

.header-main nav a {
  color: black;
  font-weight: 700;
  opacity: 0.8;
  text-decoration: none;
  padding: 0 16px;
}

.hover_navText {
  color: #A71A1C;
}

.textLine::after {
  display: block;
  color: #A71A1C;
  width: 100%;
  bottom: -1px;
}

.header-main .btn {
  display: flex;
  width: 200px;
  height: 70px;
  margin: 16px auto;
  margin-left: 40px;
  margin-right: 30px;
  border: 1px solid black;
  border-radius: 4px;
  background: #A71A1C;
}

.header-main .btn a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin: 0 8px 0 30px;
  padding: 0;
  line-height: 70px;
}

.btn_icon {
  display: flex;
  align-items: center;
  line-height: 16px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}

/* ドロップダウンリスト  メニュー情報*/
#mask {
  background: rgba(0, 0, 0, 0.8);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.dropDown_list{
  width: 100%;
  height: auto;
  margin-left: 0;
  padding: 24px;
  padding-right: 0;
  padding-left: 0;
  background-color: #efece7;
  position: fixed;
  top: 100px;
  /* left: -10px; */
  display: flex;
  z-index: 999;
  border-radius: 0 0 16px 16px;
}

.dropDown_item {
  display: flex;
}

.modal-title {
  display: flex;
  align-items: start;
  width: 165px;
  color: #333333;
  margin-left: 0px;
}

.modal-title span {
  font-size: 12px;
  color: #FFF;
  background-color: #A71A1C;
  border-radius: 50%;
  margin-left: 6px;
  padding: 2px 4px;
  text-align: center;
}

.link {
  position: relative;
}

.dropDown {
  display: none;
  position: fixed;
  top: 100px;
  left: 0;
}

.dropDown_item {
  margin-left: 30px;
}

.dropDown-courseMenu1 {
  margin-right: 16px;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 8px 16px 0;
  border-radius: 8px;
}

.dropDown-courseMenu1 h3 {
  font-size: 12px;
  color: #333333;
}

.dropDown-courseMenu2 {
  margin-right: 16px;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 8px 16px 0;
  border-radius: 8px;
}

.dropDown-courseMenu2 h3 {
  font-size: 12px;
  color: #333333;
}

.dropDown-courseMenu3 {
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 8px 16px 0;
  border-radius: 8px;
}

.dropDown-courseMenu3 h3 {
  font-size: 12px;
  color: #333333;
  margin-bottom: 47px;
}

.sub-badges {
  margin-top: 8px;
  margin-bottom: 8px;
}

.sub-badges img {
  width: 26px;
  width: 26px;
}

.dropDown-list {
  text-align: left;
}

.dropDown-list ul {
  flex-direction: column;
  justify-content: left;
  list-style: none;
  margin-left: 32px;
  margin-top: 14px;
}

.dropDown-list li {
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.dropDown-list a {
  text-decoration: none;
  color: #333333;
  opacity: .9;
}

.link:hover > .dropDown,
.link:focus-within > .dropDown > .dropDown_list {
  display: block;
}

.dropDown__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropDown__link {
  padding: 10px 20px;
  transition: color .15s;
}
.dropDown__link:hover,
.dropDown__link:focus {
  color: hotpink;
}

#mask.hidden {
  display: none;
}

#modal-menuinfo.hidden {
  display: none;
}

/* モーダル キッズメニュー */

.modal-kidsMenu {
  display: flex;
}

.modal-kidsMenu {
  margin-left: 50px;
}

.modal-kidsMenu1 {
  margin-right: 16px;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 0 16px;
  padding-top: 2px;
  border-radius: 8px;
}

.modal-kidsMenu1 h3 {
  height: 16px;
  font-size: 12px;
  margin-bottom: 16px;
  color: #333333;
  font-weight: bold;
}

.modal-kidsMenu2 {
  margin-right: 16px;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 2px 16px 0;
  border-radius: 8px;
}

.modal-kidsMenu img {
  margin-top: 4px;
  vertical-align: bottom;
}

.modal-kidsMenu2 h3 {
  font-size: 12px;
  margin-bottom: 16px;
  color: #333333;
}

#modal-kidsinfo.hidden {
  display: none;
}

/* サブリンク */
.sub-header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.sub_rinks {
  display: flex;
  justify-content: right;
  padding: 120px 8px 0;
}

.sub_rinks a {
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  margin-right: 24px;
  border-bottom: 1px solid #FFF;
  text-decoration: none;
}

.sub-header-body h2 {
  color: #FFF;
  margin-top: 150px;
  margin-left: 100px;
  font-size: 40px;
  font-family: "dnp-shuei-anti-std", "游明朝", "Yu Mincho", yumincho, "Hiragino Mincho Pro", serif;
  font-weight: bold;
}

.sub-header-body p {
  color: #FFF;
  margin-left: 100px;
  font-size: 12px;
}

.sub-header-body ul {
  display: flex;
  margin-left: 100px;
  margin-right: 395px;
  margin-top: 20px;
  border-radius: 0 8px 0 0;
  list-style: none;
  background-color: #efece7;
}

.sub-header-body li {
  padding: 20px 12px;
}

.hover:hover {
  background-color: #f3f1ed;
}

.sub-header-body a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  opacity: .8;
  white-space: nowrap;
}

.sub-header-video video{
  width: 100%;
  height: 63%;
  object-fit: cover;
  position: absolute;
  top: 105px;
  z-index: -1;

}

.courseBody {
  font-size: 14px;
  margin: 20px 100px;
  line-height: 32px;
}

.menu {
  display: flex;
  margin: 50px 26px 90px;
}

.menu img {
  width: 310px;
  height: auto;
  border-radius: 4px;
}

.badges img {
  width: 50px;
  height: 50px;
}

.menu-1 {
  padding: 0 40px 0 65px;
  border-right: 1px solid #f3f1ed;
}

.menu-2 {
  padding: 0 40px 0 50px;
  border-right: 1px solid #f3f1ed;
}

.menu-3 {
  padding: 0 40px 0 50px;
}

.courseList {
  width: 315px;
  margin: 16px 0;
}

.courseList a {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  border-bottom: 1px solid #333333;
  padding-bottom: 2px;
  text-decoration: none;
}

.courseList p {
  width: 100%;
  font-size: 14px;
  margin-top: 16px;
}

.price {
  font-size: 12px;
}

.price span {
  font-size: 16px;
  color: #A71A1C;
  font-weight: bold;
}

.courseList--cardTags {
  margin-top: 30px;
}

.courseList--cardTags a {
  text-decoration: none;
  font-size: 12px;
  border: 1px solid #333333;
  border-radius: 8px;
  color: #333333;
  padding: 2px 6px;
}

.menu-1 .cardMore {
  margin-top: 115px;
}

.badges {
  margin-top: 24px;
}

.menu-2 .cardMore,
.menu-3 .cardMore {
  margin-top: 36px;
}

.cardMore a {
  text-decoration: none;
  font-size: 14px;
  color: #333333;
  font-weight: 500;
  border: 1px solid #333333;
  border-radius: 8px;
  padding: 4px 10px;
}

.cardMore span {
  font-size: 14px;
  font-weight: normal;
  background-color: #A71A1C;
  color: #fff;
  border-radius: 50%;
  padding: 0 4px;
  margin-left: 4px;
}

.cardMore a:hover {
  background-color: #A71A1C;
  border: 1px solid #A71A1C;
  color: #fff;
}

.cardMore span::after {
  background-color: #FFF;
  color: #A71A1C;
}

/* クーポン */

.courseCoupon {
  background-color: #f1eee9;
  margin: 0 70px 50px;
  padding: 0 80px;
  height: 240px;
}

.courseCoupon-title {
  text-align: center;
  padding-top: 60px;
}

.courseCoupon-title h2 {
  color: #333333;
  font-size: 35px;
}

.courseCoupon-title span {
  color: #A71A1C;
}

.courseCoupon-title p {
  font-size: 14px;
}

.couponImg {
  text-align: center;
  position: relative;
}

.couponImg img {
  width: 1000px;
  height: 100px;
  position: absolute;
  left: -20px;
  top: 35px;
}

.coupon {
  position: relative;
}

.coupon ul {
  display: flex;
  width: 100%;
  margin: 30px auto 0;
  list-style: none;
  justify-content: center;
  position: absolute;
  top: -25px;
}

.couponItem1 {
  width: 100%;
  /* margin: 0 50px; */
  padding: 30px 100px;
  background-color: #FFF;
  text-align: center;
}

.couponItem2 {
  width: 100%;
  /* margin: 0 50px; */
  padding: 30px 100px;
  background-color: #FFF;
  text-align: center;
}

.couponItem3 {
  width: 100%;
  /* margin: 0 50px; */
  padding: 30px 100px;
  background-color: #FFF;
  text-align: center;
}

.couponItem1,
.couponItem2 {
  margin-right: 2px;
}

.coupon-body {
  font-size: 24px;
  font-weight: bold;
  color: #A71A1C;
}

.coupon-price {
  font-size: 14px;
}

/* 特別メニュー */

.specialMenu h2 {
  display: block;
  margin-left: 60px;
  padding-top: 50px;
  font-size: 35px;
  font-family: "dnp-shuei-anti-std", "游明朝", "Yu Mincho", yumincho, "Hiragino Mincho Pro", serif;
}

.foodMenu {
  display: flex;
  margin: 32px auto;
  justify-content: center;
}

.limitedtimeMenu {
  width: 520px;
  margin-right: 24px;
}

.limitedtimeMenu h3 {
  display: flex;
  width: 520px;
  background-color: #efece7;
  font-size: 24px;
  padding: 10px 0 10px 32px;
  margin-bottom: 32px;
  border-radius: 8px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.limitedtimeMenu h3::before {
  height: 1.5rem;
  left: 1.1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: .2rem;
  background: #a71a1c;
  content: "";
}

.limitedtimeMenu p {
  margin-top: 24px;
  font-size: 14px;
}

.foodMenu1-btn {
  display: block;
  text-decoration: none;
  width: 140px;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 24px 0 0 0;
  padding: 20px 24px;
  border: 1px solid #333333;
  border-radius: 8px;
  cursor: pointer;
  background: #fff;
}

.foodMenu1-btn:hover {
  background-color: #A71A1C;
  border: 1px solid #A71A1C;
  color: #fff;
}

.foodMenu1-btn span {
  font-size: 14px;
  font-weight: normal;
  background-color: #A71A1C;
  color: #fff;
  border-radius: 50%;
  padding: 0 4px;
  margin-left: 4px;
}

.foodMenu1-btn span:hover {
  background-color: #A71A1C;
  border: 1px solid #A71A1C;
  color: #fff;
}

.fivemajorMenu {
  width: 520px;
  margin-left: 24px;
}

.fivemajorMenu h2 {
  display: block;
  margin-left: 60px;
  padding-top: 50px;
  font-size: 35px;
  font-family: "dnp-shuei-anti-std", "游明朝", "Yu Mincho", yumincho, "Hiragino Mincho Pro", serif;
}

.foodMenu {
  display: flex;
  margin: 32px auto;
  justify-content: center;
}

.fivemajorMenu h3 {
  display: flex;
  width: 520px;
  background-color: #efece7;
  font-size: 24px;
  padding: 10px 0 10px 32px;
  margin-bottom: 32px;
  border-radius: 8px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.fivemajorMenu h3::before {
  height: 1.5rem;
  left: 1.1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: .2rem;
  background: #a71a1c;
  content: "";
}

.fivemajorMenu p {
  margin-top: 24px;
  font-size: 14px;
}

.fivemajorMenu-list {
  margin-top: 24px;
  margin-left: 18px;
}

.fivemajorMenu-list a {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  opacity: .9;
  line-height: 20px;
}

.foodMenu2-btn {
  display: block;
  text-decoration: none;
  width: 140px;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 24px 0 0 0;
  padding: 20px 24px;
  border: 1px solid #333333;
  border-radius: 8px;
  cursor: pointer;
  background: #fff;
}

.foodMenu2-btn:hover {
  background-color: #A71A1C;
  border: 1px solid #A71A1C;
  color: #fff;
}

.foodMenu2-btn span {
  font-size: 14px;
  font-weight: normal;
  background-color: #A71A1C;
  color: #fff;
  border-radius: 50%;
  padding: 0 4px;
  margin-left: 4px;
}

.foodMenu2-btn span:hover {
  background-color: #A71A1C;
  border: 1px solid #A71A1C;
  color: #fff;
}

/* ドリンクメニュー */

.drinkMenu h2 {
  display: block;
  margin-left: 60px;
  padding-top: 50px;
  font-size: 35px;
  font-family: "dnp-shuei-anti-std", "游明朝", "Yu Mincho", yumincho, "Hiragino Mincho Pro", serif;
}

.drinkMenu-list {
  display: flex;
  margin: 32px auto;
  justify-content: center;
}

.drinkMenu1 {
  width: 520px;
  margin-right: 50px;
}

.drinkMenu1 h3 {
  display: flex;
  width: 520px;
  background-color: #efece7;
  font-size: 24px;
  padding: 10px 0 10px 32px;
  margin-bottom: 32px;
  border-radius: 8px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.drinkMenu1 h3::before {
  height: 1.5rem;
  left: 1.1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: .2rem;
  background: #a71a1c;
  content: "";
}


.drinkMenu1-body {
  display: flex;
}

.drink1-body {
  margin-left: 40px;
}

.drink1-price {
  font-size: 12px;
}

.drink1-price span {
  color: #A71A1C;
  font-size: 16px;
  font-weight: bold;
}

.drink1-info {
  margin-top: 16px;
  font-size: 14px;
  opacity: .9;
}

.drink1-btn {
  display: block;
  text-decoration: none;
  width: 140px;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 40px 0 0 0;
  padding: 20px 24px;
  border: 1px solid #333333;
  border-radius: 8px;
  cursor: pointer;
  background: #fff;
}

.drink1-btn:hover {
  background-color: #A71A1C;
  border: 1px solid #A71A1C;
  color: #fff;
}

.drink1-btn span {
  font-size: 14px;
  font-weight: normal;
  background-color: #A71A1C;
  color: #fff;
  border-radius: 50%;
  padding: 0 4px;
  margin-left: 4px;
}

.drink1-btn span:hover {
  background-color: #A71A1C;
  border: 1px solid #A71A1C;
  color: #fff;
}

.drinkMenu2 {
  width: 520px;
  margin-right: 50px;
}

.drinkMenu2 h3 {
  display: flex;
  width: 520px;
  background-color: #efece7;
  font-size: 24px;
  padding: 10px 0 10px 32px;
  margin-bottom: 32px;
  border-radius: 8px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.drinkMenu2 h3::before {
  height: 1.5rem;
  left: 1.1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: .2rem;
  background: #a71a1c;
  content: "";
}


.drinkMenu2-body {
  display: flex;
}

.drink2-body {
  margin-left: 40px;
}

.drink2-price {
  font-size: 12px;
}

.drink2-price span {
  color: #A71A1C;
  font-size: 16px;
  font-weight: bold;
}

.drink2-info {
  margin-top: 16px;
  font-size: 14px;
  opacity: .9;
}

.drink2-btn {
  display: block;
  text-decoration: none;
  width: 140px;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 40px 0 0 0;
  padding: 20px 24px;
  border: 1px solid #333333;
  border-radius: 8px;
  cursor: pointer;
  background: #fff;
}

.drink2-btn:hover {
  background-color: #A71A1C;
  border: 1px solid #A71A1C;
  color: #fff;
}

.drink2-btn span {
  font-size: 14px;
  font-weight: normal;
  background-color: #A71A1C;
  color: #fff;
  border-radius: 50%;
  padding: 0 4px;
  margin-left: 4px;
}

.drink2-btn span:hover {
  background-color: #A71A1C;
  border: 1px solid #A71A1C;
  color: #fff;
}

/* その他メニュー */

.othersMenu h2 {
  display: block;
  margin-left: 60px;
  padding-top: 50px;
  font-size: 35px;
  font-family: "dnp-shuei-anti-std", "游明朝", "Yu Mincho", yumincho, "Hiragino Mincho Pro", serif;
}

.othersMenu-list {
  display: flex;
  margin: 32px auto;
  justify-content: center;
}

.othersMenu1 {
  width: 520px;
  margin-right: 50px;
}

.othersMenu1 h3 {
  display: flex;
  width: 520px;
  background-color: #efece7;
  font-size: 24px;
  padding: 10px 0 10px 32px;
  margin-bottom: 32px;
  border-radius: 8px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.othersMenu1 h3::before {
  height: 1.5rem;
  left: 1.1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: .2rem;
  background: #a71a1c;
  content: "";
}


.othersMenu1-body {
  display: flex;
}

.others1-body {
  margin-left: 40px;
}

.others1-info {
  margin-top: 16px;
  font-size: 14px;
  opacity: .9;
}

.others1-btn {
  display: block;
  text-decoration: none;
  width: 140px;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 40px 0 0 0;
  padding: 20px 24px;
  border: 1px solid #333333;
  border-radius: 8px;
  cursor: pointer;
  background: #fff;
}

.others1-btn:hover {
  background-color: #A71A1C;
  border: 1px solid #A71A1C;
  color: #fff;
}

.others1-btn span {
  font-size: 14px;
  font-weight: normal;
  background-color: #A71A1C;
  color: #fff;
  border-radius: 50%;
  padding: 0 4px;
  margin-left: 4px;
}

.others1-btn span:hover {
  background-color: #A71A1C;
  border: 1px solid #A71A1C;
  color: #fff;
}

.othersMenu2 {
  width: 520px;
  margin-right: 50px;
}

.othersMenu2 h3 {
  display: flex;
  width: 520px;
  background-color: #efece7;
  font-size: 24px;
  padding: 10px 0 10px 32px;
  margin-bottom: 32px;
  border-radius: 8px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.othersMenu2 h3::before {
  height: 1.5rem;
  left: 1.1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: .2rem;
  background: #a71a1c;
  content: "";
}


.othersMenu2-body {
  display: flex;
}

.others2-body {
  margin-left: 40px;
}

.others2-info {
  margin-top: 16px;
  font-size: 14px;
  opacity: .9;
}

.others2-btn {
  display: block;
  text-decoration: none;
  width: 140px;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 40px 0 0 0;
  padding: 20px 24px;
  border: 1px solid #333333;
  border-radius: 8px;
  cursor: pointer;
  background: #fff;
}

.others2-btn:hover {
  background-color: #A71A1C;
  border: 1px solid #A71A1C;
  color: #fff;
}

.others2-btn span {
  font-size: 14px;
  font-weight: normal;
  background-color: #A71A1C;
  color: #fff;
  border-radius: 50%;
  padding: 0 4px;
  margin-left: 4px;
}

.others2-btn span:hover {
  background-color: #A71A1C;
  border: 1px solid #A71A1C;
  color: #fff;
}

/* 単品メニュー */

.singleitemMenu h3 {
  display: flex;
  width: calc(100% - 120px);
  background-color: #efece7;
  font-size: 24px;
  padding: 15px 0 10px 32px;
  margin: 0 auto;
  border-radius: 8px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.singleitemMenu h3::before {
  height: 1.5rem;
  left: 1.1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: .2rem;
  background: #a71a1c;
  content: "";
}

.singleitemMenu-list {
  width: calc(100% - 120px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 32px auto;
  gap: 32px;
}

.singleitemMenu-listItem a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: .5rem;
  text-decoration: none;
  padding: 16px 32px;
}

.singleitemMenu-listItem p {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.singleitemMenu-listItem span {
  color: #FFF;
  background-color: #A71A1C;
  border-radius: 50%;
  margin-left: 10px;
  padding: 2px 6px;
  text-align: center;
}

.allMenu-btn {
  display: block;
  text-decoration: none;
  width: 200px;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 32px 0 50px 60px;
  padding: 20px 32px 20px 20px;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 8px;
  cursor: pointer;
  background: #fff;
  white-space: nowrap;
}

.allMenu-btn:hover {
  background-color: #A71A1C;
  border: 1px solid #A71A1C;
  color: #fff;
}

.allMenu-btn span {
  color: #FFF;
  background-color: #A71A1C;
  border-radius: 50%;
  margin-left: 10px;
  padding: 2px 6px;
  text-align: center;
}

/* アレルギー情報 */
.allergyinfo h2 {
  display: block;
  margin-left: 60px;
  padding-top: 50px;
  font-size: 35px;
  font-family: "dnp-shuei-anti-std", "游明朝", "Yu Mincho", yumincho, "Hiragino Mincho Pro", serif;
}

.allergyinfo p {
  text-align: left;
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 32px;
}

.allergyinfo a {
  display: block;
  text-decoration: none;
  width: 130px;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 32px 0 50px 60px;
  padding: 20px 32px 20px 20px;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 8px;
  cursor: pointer;
  background: #fff;
  white-space: nowrap;
}

.allergyinfo a:hover {
  background-color: #A71A1C;
  border: 1px solid #A71A1C;
  color: #fff;
}

.allergyinfo a span {
  color: #FFF;
  background-color: #A71A1C;
  border-radius: 50%;
  margin-left: 10px;
  padding: 2px 6px;
  text-align: center;
}

/* 店舗検索 */
.c-searchNav {
  padding-bottom: 80px;
  text-align: center;
  background: #efece7;
  position: relative;
  z-index: 999;
}

.c-searchNav::before {
  background: #fff;
  content: "";
  height: 9rem;
  left: 0;
  pointer-events: none;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
  z-index: -10;
}

.c-searchNav-BM {
  /* position: absolute;
  top: 50px; */
  margin: 0 80px;
  padding: 50px 0;
  border-radius: 12px;
  background: #A71A1C;
}

.c-searchNav-heading {
  font-size: 36px;
  color: #fff;
  font-weight: 500;
}

.c-searchNav-deacription {
  margin-top: 16px;
  color: #FFF;
}

.hiddenPc {
  display: none;
}

.c-searchNav-menuList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

.c-searchNav-menuItem {
  width: 350px;
  margin: 20px auto;
  text-align: center;
  padding: 16px 0;
}

.menuButton-1 {
  display: flex;
  /* width: 500px; */
  margin: 0 auto;
  margin-right: -95px;
  padding: 24px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFF;
  color: #333333;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
}

.menuButton-2 {
  display: flex;
  /* width: 500px; */
  margin: 0 auto;
  margin-left: -95px;
  padding: 24px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFF;
  color: #333333;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
}


.c-searchNav-menuItem img {
  width: 32px;
  height: 32px;
}

.menuWord {
  margin-top: 8px;
  opacity: .8;
}

.menuButton {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  background-color: #A71A1C;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  margin-top: 8px;
  margin-left: 4px;
}

/* フッター */

.Item2-title a {
  position: relative;
}
.Item2-title a::after {
  background-color: #FFF;
  bottom: -6px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
  width: 70%;
}
/* リンクにホバーした際の下線の表示 */
.Item2-title a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

.Item2-body a {
  position: relative;
}
.Item2-body a::after {
  background-color: #FFF;
  bottom: -6px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
  width: 100%;
}
/* リンクにホバーした際の下線の表示 */
.Item2-body a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

.footerItem3 a {
  position: relative;
}
.footerItem3 a::after {
  background-color: #FFF;
  bottom: -6px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
  width: 100%;
}
/* リンクにホバーした際の下線の表示 */
.footerItem3 a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

.footerItem4 a {
  position: relative;
}
.footerItem4 a::after {
  background-color: #FFF;
  bottom: -6px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
  width: 100%;
}
/* リンクにホバーした際の下線の表示 */
.footerItem4 a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

.footerItem5 a {
  position: relative;
}
.footerItem5 a::after {
  background-color: #FFF;
  bottom: -6px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
  width: 100%;
}
/* リンクにホバーした際の下線の表示 */
.footerItem5 a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

footer {
  display: flex;
  background-color: #2e2e2e;
  padding: 60px 40px;
}

.footerItem1 {
  padding-left: 40px;
  padding-right: 80px;
  text-align: left;
}

.footerItem1 img {
  width: 250px;
  height: auto;
}

.footerItem1 ul {
  list-style: none;
  margin-top: 24px;
}

.footerItem1 a {
  color: #FFF;
}

.footerItem2 {
  padding-right: 50px;
}

.footerItem2 ul {
  list-style: none;
}

.Item2-title a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #FFF;
  margin-bottom: 24px;
}

.Item2-body {
  margin-top: 8px;
  font-size: 14px;
}

.Item2-body a {
  white-space: nowrap;
  text-decoration: none;
  color: #FFF;
  opacity: .6;
}

.footerItem3 ul {
  list-style: none;
}

.footerItem3 a {
  text-decoration: none;
  white-space: nowrap;
}

.Item3-tilte a {
  color: #fff;
}

.Item3-tilte1 {
  font-weight: bold;
  font-size: 18px;
}

.Item3-tilte2 {
  margin-top: 24px;
  font-weight: bold;
  font-size: 18px;
}

.footerItem2-1 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.footerItem2-1-2 {
  margin-top: 8px;
}

.footerItem2-1 a {
  color: #FFF;
  opacity: .6;
}

.footerItem3-1 a {
  font-size: 18px;
  color: #FFF;
  font-weight: bold;
}

.footerItem3-2 {
  margin-top: 16px;
}

.footerItem3-2 a {
  color: #FFF;
  opacity: .6;
}

.footerItem4 ul {
  list-style: none;
  padding-left: 40px;
  padding-right: 30px;
}

.footerItem4 a {
  text-decoration: none;
}

.footerItem4-1 a {
  font-size: 18px;
  color: #FFF;
  font-weight: bold;
}

.footerItem4-2 {
  margin-top: 24px;
}

.footerItem4-2 a {
  font-size: 18px;
  color: #FFF;
  font-weight: bold;
  white-space: nowrap;
}

.footerItem4-3 {
  margin-top: 24px;
}

.footerItem4-3 a {
  white-space: nowrap;
  text-decoration: none;
  color: #FFF;
  opacity: .6;
}

.footerItem5 {
  padding-left: 20px;
  border-left: 1px solid #444444;
}

.footerItem5 ul {
  list-style: none;
}

.footerItem5 a {
  text-decoration: none;
  white-space: nowrap;
  font-size: 12px;
  color: #FFF;
  font-weight: bold;
}

.footerItem5-2 {
  margin-top: 8px;
}

.footerItem5-3 {
  margin-top: 8px;
}

.footerItem5-4 {
  margin-top: 8px;
}

.footerItem6 ul {
  display: flex;
  background-color: #2E2E2E;
  list-style: none;
  padding: 50px 50px;
}

.footerItem6 a {
  margin-left: 16px;
  color: #fff;
  opacity: .6;
  font-size: 14px;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../img/bg_footer_copy.jpg);
  height: 100px;
}

.copyLink {
  margin-right: 70px;
  color: #FFF;
}